.modal__container_simple {
  margin-top: 7.813vw; // 150px;
  width: 26.042vw; //500px;
  min-width: 26.042vw; //500px;
}

.modal__container_search {
  margin-top: 0;
  width: 26.042vw; //500px;
  min-width: 26.042vw; //500px;
}
.modal__clear {
  font-family: SeroPro;
  font-size: 15px;
  color: #101c2d;
  letter-spacing: 0.11px;
  opacity: 50%;
  width: min-content;
  position: absolute;
  right: 20px;
}
.modal__title {
  font-family: VTB;
  font-size: 24px;
  letter-spacing: 0.14px;
  color: #101c2d;
  margin: auto;
  //position: relative;
}
.modal__titleReset {
  position: absolute;
  right: 0;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: #A8ABB3;
}
.modal__footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
