.container {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  align-items: flex-start;
}
.header {
  font-family: SBSansInterface-Bold;
  margin: 48px 0 62px 0;
  font-size: 30px;
}
.line {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  height: 104px;
  width: 100%;
}
.label {
  font-family: SBSansInterface-Semibold;
  font-size: 20px;
  width: 25%;
  text-align: left;
}
.setContainer {
  width: 24%;
  text-align: left;
  margin-right: 24px;
}
.btnContainer {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
