.rule {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  &:not(:last-child) {
    border-bottom: 1px solid #dbe1ee;
  }
}

.title {
  font-size: 23px;
  margin-bottom: 0;
}

.description {
  font-size: 17px;
  color: #6b7683;
  padding-bottom: 5px;
}

.SwitchStyle {
  background-color: #dbe1ee;
}

.SwitchStyleChecked {
  background-color: #1e4cd2;
}

.Input {
  width: 100%;
}

.actionRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.Button {
  margin: 20px 0;
}
