$imageWidth: 20.458vw;
$containerWidth: 220px; //11.458vw;
$containerWidth1200: 20vw;
$containerWidth950: 22vw;

.fileWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  background: rgba(229, 243, 250, 0.15);
  padding: .4rem;
  border: 2px solid #D9ECFF;
  border-radius: 12px;
  &:hover {
  text-decoration: underline;
}
}

.fileLabel {
  font-family: SBSansInterface-Regular;
  font-size: 13px;
  color: #000;
}
