.block {

}

.rule {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  border-bottom: 2px solid #dbe1ee;
}

.title {

}

.description {
  color: #6b7683;
  padding-bottom: 15px;
}
