@font-face {
    font-family: 'SBSansInterface-Regular';
    src: url('./SBSansInterface-Regular/SBSansInterface-Regular.eot');
    src: url('./SBSansInterface-Regular/SBSansInterface-Regular.eot?#iefix') format('embedded-opentype'),
    url('./SBSansInterface-Regular/SBSansInterface-Regular.woff2') format('woff2'),
    url('./SBSansInterface-Regular/SBSansInterface-Regular.woff') format('woff'),
    url('./SBSansInterface-Regular/SBSansInterface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBSansInterface-Semibold';
    src: url('./SBSansInterface-Semibold/SBSansInterface-Semibold.eot');
    src: url('./SBSansInterface-Semibold/SBSansInterface-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./SBSansInterface-Semibold/SBSansInterface-Semibold.woff2') format('woff2'),
    url('./SBSansInterface-Semibold/SBSansInterface-Semibold.woff') format('woff'),
    url('./SBSansInterface-Semibold/SBSansInterface-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SBSansInterface-Bold';
    src: url('./SBSansInterface-Bold/SBSansInterface-Bold.eot');
    src: url('./SBSansInterface-Bold/SBSansInterface-Bold.eot?#iefix') format('embedded-opentype'),
    url('./SBSansInterface-Bold/SBSansInterface-Bold.woff2') format('woff2'),
    url('./SBSansInterface-Bold/SBSansInterface-Bold.woff') format('woff'),
    url('./SBSansInterface-Bold/SBSansInterface-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
