.Card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #00a0e3;
  height: 300px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.SecureCard {
  position: relative;
  overflow: hidden;
  margin-left: -20px;
  border-radius: 12px;
  border: 1px solid #00a0e3;
  border-left: 0px solid transparent;
  height: 300px;
  width: 135px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 90px 20px 20px 40px;
  gap: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    right: 0;
    top: 60px;
    height: 60px;
    background-color: #000;
  }
}

.CardInputRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}

.Input {
  color: #000;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-transition: border-color 0.6s linear;
  transition: border-color 0.6s linear;
  font-family: SBSansInterface-Regular;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #e6e6e6;

  &:focus {
    border: 2px solid #00a0e3;
  }
}
