.sidebar {
  height: 100%;
}

.line {
  background-color: #c4c4c4;
  color: #c4c4c4;
  height:2px;
  margin: 0 10px 0 10px;
}

.logo {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  align-items: center;
}
