.tableContainer {
  height: 100%;
  width: 100%;
  position: relative;

}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media screen and (max-width: 900px) {
    justify-content: center;
  }
}

.tableIcon {
  height: 1.388vw;
  max-height: 25px;
  min-height: 20px;
}
