.settings {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
}

.body {
  margin: 15px;
}

.title {
  font-size: 23px;
  text-align: left;
  &:not(:first-child) {
    margin-top: 52px;
  }
}

.line {
  border-top: 1px solid #dbe1ee;
  margin: 20px 0;
  border-radius: 5px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: transparent;
}
